<%= form_tag("/products", method: "get") do %>
        <h3>Categorias</h3>
  <div>
        <% @category.each do |categoria| %>
          <% cat = categoria.categoria %>
          <%= label_tag("categoria_#{cat}", cat, class: 'radio') do %>
            <%= radio_button_tag(:categoria, cat, id: 'radio2') %>
            <span class="outer"><span class="inner"></span></span><%= cat %>
          <% end%>
        <% end %>
  </div>
        <h3>Marcas</h3>
  <div>
        <% @branding.each do |marca| %>
          <% mar = marca.marca %>
          <%= label_tag("marca_#{mar}", mar, class: 'radio') do %>
            <%= radio_button_tag(:marca, mar, id: 'radio2') %>
            <span class="outer"><span class="inner"></span></span><%= mar%>
          <% end%>
        <% end %>
  </div>
  <%= submit_tag("Filtrar", { :class => 'btn btn-filtrar' })%>
<% end %>
<header class="indexheader headerall nav-lateral">
  <nav class="navigation">
    <ul>
      <li class="ingresar">
        <% unless user_signed_in? %>
          <%= link_to 'Ingresar Usuario', user_session_path %>
        <% else %>
          <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
        <% end %>
      </li>
    </ul>
</header>
<header class="indexheader headerall nav-lateral">
  <nav class="navigation">
    <ul>
      <li class="ingresar">
        <% unless user_signed_in? %>
          <%= link_to 'Ingresar Usuario', user_session_path %>
        <% else %>
          <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
        <% end %>
      </li>
    </ul>
</header>